.Header
{
	background-image: url(../images/portada.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 3.75em;
	text-align: center;
	padding: 1.2em;
}
.Header-imageContainer
{
	margin: 0;
}
.Header-image
{
	border: 5px solid white;
	border-radius: 50%;
}
.Header-name, .Header-link
{
	color: white;
}
.Header-name
{
	font-size: 1.5em;
	margin: 0;
	font-weight: 300;


}
.Header-link
{
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}
.MainMenu
{
	background: rgb(44, 62, 80);
	height: 3.75em;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
}
.MainMenu-item
{
	display: inline-block;
}
.MainMenu-list
{
	margin: 0;
	padding: 0;
}
.MainMenu-link	
{
	color: #fff;
	text-decoration: none;
	line-height: 3.75em;
	margin-right: 1.5em;
}
