<!DOCTYPE html>
<html lang="en">
<head>
	<title>Diego Torres</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/styles.css">
	
</head>
<body>
<!--Inicia Menu de Navegacion-->
	<header id="Yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Yo">Yo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Trabajo">Trabajos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Contacto">Contacto</a>
				</li>
			</ul>
		</nav>
		<figure class="Header-imageContainer">
			<img src="../static/images/Avatar.jpg " alt="Imagen Personal" class="Header-image">
			<figcaption class="Header-imageDescription">
				<a class="Header-link" href="https://twitter.com/diegotc22" target="_blanck">@Diegotc22</a>
			</figcaption>
			<p class="Header-name">Juan Diego Torres </p>
		</figure>
	</header>
<!--Termina Menu de Navegacion-->

<!--Inicia Seccion de Perfil-->
	<section id="Perfil" class="Profile">
		<h2 class="Profie-title u-title">Mi Perfil</h2>
		<p class="Profile-description">
			Hola! Bienvenido si llegaste hasta aqui puedes contactarme o ver mis trabajos
		</p>
		<a class="Profile-link-1" href="https://twitter.com/diegotc22" target="_blanck">Twitter</a>
		<a class="Profile-link-2" href="https://www.facebook.com/Diegotx12"target="_blanck">Facebook</a>
		<a class="Profile-link-3" href="https://github.com/Diegotx12" target="_blanck">GitHub</a>
	</section>
<!--Termina Seccion de Perfil-->

<!--Inicia Seccion de Trabajos-->
	<section id="Trabajo" class="Work">
		<h2 class="Work-title u-title">Mi Trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/proyecto.jpg" alt="Descripcion de Imagen">
				<figcaption class="Work-imageDescription">Website Mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/thumb2.jpg" alt="Descripcion de Imagen">
				<figcaption class="Work-imageDescription">Website Mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/thumb3.jpg" alt="Descripcion de Imagen">
				<figcaption class="Work-imageDescription">Website Mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/mejorandola.jpg" alt="Descripcion de Imagen">
				<figcaption class="Work-imageDescription">Website Mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/proyecto.jpg" alt="Descripcion de Imagen">
				<figcaption class="Work-imageDescription">Website Mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="../static/images/thumb2.jpg" alt="Descripcion de Imagen">
				<figcaption class="Work-imageDescription">Website Mejorando.la</figcaption>
			</figure>
		</article>
	</section>
<!--Termina Seccion de Trabajos-->

<!--Inicia Pie de Pagina-->
	<footer id="Contacto" class="Footer">
	<div class="Footer-left">
		<h3 class="Footer-title">Contacto</h3>
		<p class="Footer-description">Si tienes una sugerencia o quieres colaborar conmigo, ponte en contacto conmigo.
		</p>
	</div>
<!--Formulario de Contacto-->
		<form class="Footer-form">
			<input class="Footer-formImput" type="text" placeholder="Nombre"/>
			<input class="Footer-formImput" type="email" placeholder="Email"/>
			<textarea class="Footer-textArea" placeholder="Escribe Tu Mensaje"></textarea>
			<button class="Footer-button" type="submit">Enviar</button>
		</form>
		<!--Fin del Formulario-->
	</footer>
	<!--Termina Pie de Pagina-->
</body>
</html>